

@PART[bluedog_Saturn_Engine_F1]:NEEDS[TweakScale] //Sarnus-LE1F-2214 "Regor" Liquid Engine
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 2.5
    }
}

@PART[bluedog_Saturn_Engine_H1C]:NEEDS[TweakScale] //Sarnus-HC1-260 "Grivan" Liquid Engine
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 1.25
    }
}

@PART[bluedog_Saturn_Engine_H1D]:NEEDS[TweakScale] //Sarnus-HD1-260 "Navi" Liquid Engine
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 1.25
    }
}

@PART[bluedog_Saturn_Engine_J2]:NEEDS[TweakScale] //Sarnus-HE2J-550 "Dnoces" Liquid Engine
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 1.25
    }
}

@PART[bluedog_Saturn_Engine_J2S]:NEEDS[TweakScale] //Sarnus-HE2JS-428 "Dnoces-S" Cryogenic Engine
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 1.25
    }
}

@PART[bluedog_Saturn_Engine_J2SL]:NEEDS[TweakScale] // Sarnus-HESL2J-475 "Dnoces Sea Level" Cryogenic Engine
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 1.25
    }
}

@PART[bluedog_Saturn_Engine_J2X]:NEEDS[TweakScale] // Sarnus-HE2JX-447 "Dnoces-X" Cryogenic Engine
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 1.875
    }
}

@PART[bluedog_Saturn_Engine_J2T]:NEEDS[TweakScale] //Sarnus-HE2JT-200K "Tohces" Cryogenic Aerospike
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 1.25
    }
}

@PART[bluedog_saturn_AJ260_LongAngled,bluedog_saturn_AJ260_LongFlared]:NEEDS[TweakScale] //Sarnus-HESL2J-475 "Dnoces Sea Level" Cryogenic Engine
{
    #@TWEAKSCALEBEHAVIOR[SRB]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 3.75
    }
}

@PART[bluedog_saturn_AJ260_ShortAngled,bluedog_saturn_AJ260_ShortFlared]:NEEDS[TweakScale] //Sarnus-HESL2J-475 "Dnoces Sea Level" Cryogenic Engine
{
    #@TWEAKSCALEBEHAVIOR[SRB]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 3.75
    }
}

@PART[bluedog_Saturn_S1_AdvancedFin]:NEEDS[TweakScale] //Sarnus-SI-AAS Advanced Aerodynamic Surface
{
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[bluedog_Saturn_S1_EngineMount]:NEEDS[TweakScale] //Sarnus-SI-2800 Engine Mount
{
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 3.75
    }
}

@PART[bluedog_Saturn_S1_LargeFin]:NEEDS[TweakScale] //Sarnus-SI-LAS Large Aerodynamic Surface
{
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[bluedog_Saturn_S1_Retro]:NEEDS[TweakScale] //Sarnus-SI-SRM Retro Motor
{
    #@TWEAKSCALEBEHAVIOR[SRB]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[bluedog_Saturn_S1_SmallFin]:NEEDS[TweakScale] //Sarnus-SI-SAS Small Aerodynamic Surface
{
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[bluedog_Saturn_S1_Tankage]:NEEDS[TweakScale] //Sarnus-SI-13900 Liquid Fuel Tank
{
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 3.75
    }
}

@PART[bluedog_Saturn_S1C_56mDecoupler]:NEEDS[TweakScale] //Sarnus-SIC-56SD 5.625m Stack Decoupler
{
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 5.625
    }
}

@PART[bluedog_Saturn_S1C_EngineMount]:NEEDS[TweakScale] //Sarnus-SIC-FE5M Engine Mount
{
    #@TWEAKSCALEBEHAVIOR[SRB]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 5.625
    }
}

@PART[bluedog_Saturn_S1C_Fin]:NEEDS[TweakScale] //Sarnus-SIC-ASF Aerodynamic Fin
{
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[bluedog_Saturn_S1C_Tankage]:NEEDS[TweakScale] //Sarnus-SIC-70K Liquid Fuel Tank
{
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 5.625
    }
}

@PART[bluedog_Saturn_S1E_EngineMount]:NEEDS[TweakScale] //Sarnus-SIE-FE1M Engine Mount
{
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 3.75
    }
}

@PART[bluedog_Saturn_S1E_Tankage]:NEEDS[TweakScale] //Sarnus-SIE-13900 Liquid Fuel Tank
{
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 3.75
    }
}

@PART[bluedog_Saturn_S1F_Tankage]:NEEDS[TweakScale] //Sarnus-SIE-13900 Liquid Fuel Tank
{
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 3.75
    }
}

//@PART[bluedog_Saturn_S2_5625mFairingBase]:NEEDS[TweakScale] //Sarnus-SIV-25 Fairing Base

@PART[bluedog_Saturn_S2_EngineMount,bluedog_Saturn_S2_EngineMount_7X]:NEEDS[TweakScale] //Sarnus-SII-2300 Engine Mount
{
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 5.625
    }
}

@PART[bluedog_Saturn_S2_Interstage]:NEEDS[TweakScale] //Sarnus-SII-56IAD Interstage
{
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 5.625
    }
}

@PART[bluedog_Saturn_S2_Tankage]:NEEDS[TweakScale] //Sarnus-SII-47K Liquid Fuel Tank
{
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 5.625
    }
}

@PART[bluedog_Saturn_S2_Ullage]:NEEDS[TweakScale] //Sarnus-SII-SUM Ullage Motor
{
    #@TWEAKSCALEBEHAVIOR[SRB]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}


//@PART[bluedog_Saturn_25mFairingBase]:NEEDS[TweakScale] //File: bluedog_Saturn_S4_25mFairingBase.cfg

//@PART[bluedog_Saturn_3125mFairingBase]:NEEDS[TweakScale] //File: bluedog_Saturn_S4_3125mFairingBase.cfg

@PART[bluedog_Saturn_S4_AdapterTank]:NEEDS[TweakScale] //Sarnus-SIV-2200 Liquid Fuel Tank
{
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 3.125
    }
}

@PART[bluedog_Saturn_S4_EngineMount]:NEEDS[TweakScale] //Sarnus-SIV-2800 Engine Mount
{
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 3.125
    }
}

@PART[bluedog_Saturn_S4_InstrumentUnit]:NEEDS[TweakScale] //Sarnus-SIV-CGI Instrumentation Unit
{
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 2.5
    }
}

@PART[bluedog_Saturn_S4_Interstage]:NEEDS[TweakScale] //Sarnus-SIV Interstage
{
	#@TWEAKSCALEBEHAVIOR[Decoupler]/MODULE[TweakScale] { }
	%MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 3.75
    }
}

@PART[bluedog_Saturn_S4_Tankage]:NEEDS[TweakScale] //Sarnus-SIV-3200 Liquid Fuel Tank
{
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 3.125
    }
}

@PART[bluedog_Saturn_S4_Ullage]:NEEDS[TweakScale] //Sarnus-SIV-SRM Ullage Motor
{
    #@TWEAKSCALEBEHAVIOR[SRB]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}

//@PART[bluedog_Saturn_S4B_375mFairingBase]:NEEDS[TweakScale]

@PART[bluedog_Saturn_S4B_APS]:NEEDS[TweakScale] //Sarnus-SIVB-APS Auxilary Propulsion System
{
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[bluedog_Saturn_S4B_EngineMount]:NEEDS[TweakScale] //Sarnus-SIVB-2K Engine Mount
{
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 3.75
    }
}

@PART[bluedog_Saturn_S4B_InstrumentUnit]:NEEDS[TweakScale] //Sarnus-SIVB-IU Instrument Unit
{
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 3.75
    }
}

@PART[bluedog_Saturn_S4B_Interstage]:NEEDS[TweakScale] //Sarnus-SIVB-38IA Interstage
{
    #@TWEAKSCALEBEHAVIOR[Decoupler]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 3.75
    }
}

@PART[bluedog_Saturn_S4B_SLA,bluedog_Saturn_S4B_SLA_Full]:NEEDS[TweakScale] //Sarnus-SIVB-LAM Lander Adapter Module
{
    #@TWEAKSCALEBEHAVIOR[Decoupler]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 3.75
    }
}

@PART[bluedog_Saturn_S4B_SLA_SinglePanel]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 3.75
    }
}

@PART[bluedog_Saturn_S4B_SLAbase]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Decoupler]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 3.75
    }
}

@PART[bluedog_Saturn_S4B_Tankage]:NEEDS[TweakScale] //Sarnus-SIVB-10K Liquid Fuel Tank
{
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 3.75
    }
}

//@PART[bluedog_Saturn_S4B_Tankage_WWS]:NEEDS[TweakScale] // Wet lab

@PART[bluedog_Saturn_S4B_WideInterstage]:NEEDS[TweakScale] //Sarnus-SIVB-56IA Interstage
{
    #@TWEAKSCALEBEHAVIOR[Decoupler]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 5.625
    }
}

@PART[bluedog_Saturn_S4C_EngineMount]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 3.75
    }
}

@PART[bluedog_Saturn_S4C_Tankage]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 3.75
    }
}

@PART[bluedog_Saturn_VFB_Dish]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = Free
    }
}

//@PART[bluedog_Saturn_VFB_MissionModule]:NEEDS[TweakScale]
