@PART[bluedog_radialengine]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = free
    }
}
@PART[bluedog_Castor120]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[SRB]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 1.5
    }
}
@PART[bluedog_Castor30]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[SRB]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 1.5
    }
}

@PART[bluedog_star20]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[SRB]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 0.3125
    }
}
@PART[bluedog_star31]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[SRB]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 0.625
    }
}
@PART[bluedog_star37]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[SRB]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 0.9375
    }
}
@PART[bluedog_star48]:NEEDS[TweakScale]
{
	#@TWEAKSCALEBEHAVIOR[SRB]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = BluedogStack
        defaultScale = 0.9375
    }
}